.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--ym-spacer-size-xxxs);
}

.button {
  display: flex;
  align-items: center;
  gap: var(--ym-spacer-size-xxs);
  padding: var(--ym-spacer-size-xl) var(--ym-spacer-size-s);

  font-weight: var(--ym-font-weight-bold);
  color: var(--ym-color-black);
  white-space: nowrap;
  text-decoration: none;
  
  background-color: var(--ym-color-primary);
  border-radius: var(--ym-radius-size-xxxl);
  cursor: pointer;
  transition: var(--transition);
  user-select: none;
}

.button:hover:not(:active) {
  background-color: var(--ym-color-primary-hover);
}

.button:active {
  transition: var(--transition-fast);
  background-color: var(--ym-color-primary);
}


.button.ghost-button {
  padding: 0;
  font-weight: normal;
  background-color: transparent;
}

.button.ghost-button:hover,
.button.ghost-button:active {
  background-color: transparent;
}


.button-icon {
  padding: var(--padding-icon);
  height: 100%;

  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
}

.icon {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  vertical-align: middle;
  pointer-events: none;
}