header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    
    height: var(--header-height);
    background: var(--background-color-primary);
    padding: 0 var(--margin-side);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 32px;
}

.header-container {
    display: flex;
    z-index: 10;
    align-items: baseline;
    gap: var(--gap-item);
}