input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input {
  display: block;
  padding: var(--ym-spacer-size-xxxs) var(--ym-spacer-size-xs);
  border-radius: var(--ym-radius-size-xl);
  width: 100%;
  font-size: var(--ym-font-size-label-m);
  border: var(--border) var(--ym-controls-color-secondary-outline-enabled_stroke);
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: var(--ym-controls-color-secondary-on_outline-enabled);
  transition: var(--transition);


}

.input:hover {
  box-shadow: 0 0 0 .050rem var(--ym-controls-color-secondary-outline-hovered_stroke);
}

.input:focus-within {
  background-color: var(--ym-controls-color-secondary-default-enabled);
  box-shadow: 0 0 0 .050rem var(--ym-controls-color-secondary-outline-selected_stroke);
}



.input::placeholder {
  color: var(--ym-controls-color-secondary-outline-enabled_stroke);
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: var(--ym-controls-color-secondary-outline-enabled_stroke);
  opacity: 1;
}

.input::-ms-input-placeholder {
  color: var(--ym-controls-color-secondary-outline-enabled_stroke);
  opacity: 1;
}
