input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input {
  display: block;
  outline: none;
  width: 100%;

  padding: var(--ym-spacer-size-xxxs) var(--ym-spacer-size-xs);
  
  font-size: inherit;
  font-family: inherit;
  
  border-radius: var(--ym-radius-size-xl);
  border: var(--ym-input-border);
  background-color: transparent;
  color: var(--ym-controls-color-secondary-on_outline-enabled);
  
  transition: var(--transition);
}

.input:hover {
  box-shadow: 0 0 0 .050rem var(--ym-controls-color-secondary-outline-hovered_stroke);
}

.input:focus-within {
  background-color: var(--ym-controls-color-secondary-default-enabled);
  box-shadow: 0 0 0 .050rem var(--ym-controls-color-secondary-outline-selected_stroke);
}


.input::placeholder {
  color: var(--ym-controls-color-secondary-outline-enabled_stroke);
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: var(--ym-controls-color-secondary-outline-enabled_stroke);
  opacity: 1;
}

.input::-ms-input-placeholder {
  color: var(--ym-controls-color-secondary-outline-enabled_stroke);
  opacity: 1;
}
