.overlay {
    position: fixed;
    z-index: 1000;
}

.info-hint {
    padding: var(--ym-spacer-size-xxxs) var(--ym-spacer-size-xs);
    
    border: var(--ym-layout-border);
    border-radius: var(--ym-radius-size-xs);
    background-color: var(--ym-background-color-primary-enabled-popover);
    
    pointer-events: none;
    white-space: nowrap;
    
    animation: fadeIn 0.2s ease forwards;
}

.menu {
    padding: var(--ym-spacer-size-xs);
    
    border-radius: var(--ym-radius-size-s);
    border: var(--ym-layout-border);
    background-color: var(--ym-background-color-primary-enabled-menu);
    backdrop-filter: var(--ym-menu-filter);

    animation: fadeIn 0.4s ease forwards;
}

.menu {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.menu::-webkit-scrollbar {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .menu {
        border-radius: var(--ym-radius-size-s) var(--ym-radius-size-s) 0 0;
    }
}


#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
    width: 100vw;
    height: 100vh;
    
    background: #000;
    
    animation: fadeOut 1s ease forwards;
    animation-delay: 4s;
}

#splash-screen video {
    margin: auto;
    max-width: 100%;
    object-fit: contain;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        pointer-events: auto;
    }
    to {
        opacity: 0;
        pointer-events: none;
    }
}
