.overlay {
    position: fixed;
    z-index: 9999;
}

.info-label {
    border-radius: var(--ym-radius-size-xs);
    padding: var(--ym-spacer-size-xxxs) var(--ym-spacer-size-xs);
    transition: var(--transition);

    background-color: var(--ym-background-color-primary-enabled-popover);
    border: .0625rem solid var(--ym-outline-color-primary-disabled);
    
    pointer-events: none;
    white-space: nowrap;
}

.select-tags {
    background-color: var(--ym-background-color-primary-enabled-popover);
    border: .0625rem solid var(--ym-outline-color-primary-disabled);

    padding: var(--ym-spacer-size-xs);
    border-radius: var(--ym-radius-size-s);
}

.select-tags {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.select-tags::-webkit-scrollbar {
    display: none;
}


#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    
    animation: fadeOut 1s ease forwards;
    animation-delay: 4s;
}


#splash-screen video {
    margin: auto;
    width: auto;
    height: auto;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        pointer-events: auto;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--ym-spacer-size-xxxl);
}

.message h3 {
    font-size: var(--ym-font-size-headline-xs);
    color: var(--ym-controls-color-primary-text-enabled_variant);
    margin-block-end: var(--ym-spacer-size-xs);
}

.message span {
    font-weight: normal;
}