<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Таблица артистов</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/favicon.svg') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/table.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/button.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/input.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tags.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/overlay.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/message.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/icon.css') }}" />
  </head>

  <body>
    <main>
      <header>
        <div class="header-container">
          <div class="headline">
            <span class="subtitle">Таблица</span>
            <h1 class="title">Артистов</h1>
          </div>
          
          <button class="button info-label-button" data-text="Обновить" id="refresh-button">
            {% include 'icons/refresh.svg' %}
            <span id="artist-total">—</span>
          </button>
        </div>
        
        <div class="table-title-row" id="table-head">
          <div class="name-title">
            <div class="table-title-container">
              <div class="name-container">
                <div class="button-container">
                  <button class="button clean-button sorting-button info-label-button" data-text="Отсортировать по названию" data-sort-by="name" data-sort-order="ASC">
                    <span>Исполнитель</span>
                    {% include 'icons/sorting.svg' %}
                  </button>
                </div>
              </div>

              <input id="name_contains" class="input" type="text" placeholder="Поиск…">
            </div>
          </div>

          <div class="tracks-title">
            <div class="table-title-container">
              <div class="button-container">
                <button class="button clean-button sorting-button info-label-button" data-text="Отсортировать по трекам" data-sort-by="tracks_count" data-sort-order="ASC">
                  <span>Треки</span>
                  {% include 'icons/sorting.svg' %}
                </button>
              </div>

              <input id="min_tracks" class="input info-label-button" data-text="Минимальное количество треков" type="number" placeholder="от" value="1">
              <input id="max_tracks" class="input info-label-button" data-text="Максимальное количество треков" type="number" placeholder="до">
            </div>
          </div>

          <div class="likes-title">
            <div class="table-title-container">
              <div class="button-container">
                <button class="button clean-button sorting-button info-label-button" data-text="Отсортировать по лайкам" data-sort-by="likes_count" data-sort-order="ASC">
                  <span>Лайки</span>
                  {% include 'icons/sorting.svg' %}
                </button>
              </div>

              <input id="min_likes" class="input info-label-button" data-text="Минимальное количество лайков" type="number" placeholder="от">
              <input id="max_likes" class="input info-label-button" data-text="Максимальное количество лайков" type="number" placeholder="до">
            </div>
          </div>

          <div class="listeners-title">
            <div class="table-title-container">
              <div class="button-container">
                <button class="button clean-button sorting-button info-label-button" data-text="Отсортировать по слушателям" data-sort-by="last_month_listeners" data-sort-order="ASC">
                  <span>Слушатели</span>
                  {% include 'icons/sorting.svg' %}
                </button>
              </div>
              
              <input id="min_listeners" class="input info-label-button" data-text="Минимальное количество слушателей" type="number" placeholder="от">
              <input id="max_listeners" class="input info-label-button" data-text="Максимальное количество слушателей" type="number" placeholder="до">
            </div>
          </div>

          <div class="rating-month-title">
            <div class="table-title-container">
              <div class="button-container">
                <button class="button clean-button sorting-button info-label-button" data-text="Отсортировать по рейтингу" data-sort-by="ratings_month" data-sort-order="ASC">
                  <span>Рейтинг</span>
                  {% include 'icons/sorting.svg' %}
                </button>
              </div>

              <input id="min_ratings_month" class="input info-label-button" data-text="Минимальный рейтинг" type="number" placeholder="от">
              <input id="max_ratings_month" class="input info-label-button" data-text="Максимальный рейтинг" type="number" placeholder="до">
            </div>
          </div>

          <div class="genres-title">
            <div class="table-title-container">
              <span>Жанры</span>
              <div class="tags-container">
                <div class="tags-container" id="genres-tags-container"></div>
                <button class="button clean-button tags-button info-label-button" data-text="Изменить жанры сортировки" data-type="genres">
                  {% include 'icons/plus_square.svg' %}
                </button>
              </div>
            </div>
          </div>

          <div class="countries-title">
            <div class="table-title-container">
              <span>Страны</span>
              <div class="tags-container">
                <div class="tags-container" id="countries-tags-container"></div>
                <button class="button clean-button tags-button info-label-button" data-text="Изменить страны сортировки" data-type="countries">
                  {% include 'icons/plus_square.svg' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div>
        <div id="table-body">       
        </div>
        <div id="load-trigger"></div>
      </div>
    </main>

    <div id="splash-screen">
      <video id="splash-video" autoplay muted playsinline>
        <source src="{{ url_for('static', filename='assets/splash.webm') }}" type="video/webm" />
      </video>
    </div>

    <template id="default-artist-cover-template">
      {% include 'icons/note.svg' %}
    </template>

    <template id="empty-template">
      <div class="message" id="empty-message">
        <h3>Ничего не нашлось</h3>
        <span>Попробуйте поискать с другими параметрами</span>
      </div>
    </template>

    <template id="tags-overlay-template">
      <div class="overlay">
      </div>
    </template>

    <template id="info-label-template">
      <div class="overlay info-label"></div>
    </template>

    <template id="tags-container-template">
      <div class="tags-container"></div>
    </template>

    <template id="tag-template">
      <div class="tag"></div>
    </template>

    <template id="row-template">
        <div class="table-row">
          <a class="name-cell info-label-button" data-text="Ссылка на Яндекс Музыку" target="_blank">
            <div class="artist-cover"></div>
            <span class="artist-name"></span>
          </a>

          <div class="tracks-cell info-label-button" data-text="Количество треков"></div>
          <div class="likes-cell info-label-button" data-text="Количество лайков"></div>
          <div class="listeners-cell info-label-button" data-text="Количество слушателей">
            <span class="listeners"></span>
            <span class="listeners-delta"></span>
          </div>

          <div class="rating-month-cell info-label-button" data-text="Рейтинг за месяц"></div>

          <div class="genres-cell"><div class="tags-container"></div></div>
          <div class="countries-cell"><div class="tags-container"></div></div>
        </div>
    </template>

    <script type="module"
      src="{{ url_for('static', filename='scripts/loading.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/input.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/info.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/select_tags.js') }}">
    </script>
  </body>
</html>