<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Таблица артистов</title>
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/favicon.svg') }}" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/base.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/table.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/button.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/input.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tags.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/overlay.css') }}" />
  </head>

  <body>
    <main>
      <header>
        <div class="container header-container">
          <div class="headline">
            <span>Таблица</span>
            <h1>Артистов</h1>
          </div>
          
          <div class="container button-container">
            <div class="container button-sublabel-container">
              <button class="button info-hint-button" data-text="Случайный артист из списка" id="random-button">
                {% include 'icons/play.svg' %}
                <span class="button-label updated-label ">Случайный</span>
              </button>
              <span class="button-sublabel">Случайный</span>
            </div>

            <div class="container button-sublabel-container" id="refresh-button">
              <button class="button button-secondary info-hint-button" data-text="Обновить">
                {% include 'icons/refresh.svg' %}
                <span class="button-label total-artist-label updated-label"></span>
              </button>
              <span class="button-sublabel updated-label total-artist-label"></span>
            </div>

            <div class="container button-sublabel-container" id="sorting-menu-button">
              <button class="button button-secondary button-icon info-hint-button" data-text="Сортировать">
                {% include 'icons/filter.svg' %}
                <span class="button-label updated-label ">Сортировать</span>
              </button>
              <span class="button-sublabel">Фильтры</span>
            </div>

          </div>
        </div>
        
        <div class="table-row table-title-row" id="table-head">
          <span class="row-number"></span>
          
          <div class="container name-cell name-cell-title cell-title">
            <div class="container table-title-container">
                <span>Исполнитель</span>
                <button class="button ghost-button sorting-button info-hint-button" data-text="Отсортировать по названию" data-sort-by="name" data-sort-order="ASC">
                  {% include 'icons/sorting.svg' %}
                </button>
            </div>
            <input id="name_contains" class="input" type="text" placeholder="Поиск…">
          </div>

          <div class="container listeners-cell listeners-cell-title number-cell cell-title">
            <div class="container table-title-container">
              <span>Слушатели</span>
              <button class="button ghost-button sorting-button info-hint-button" data-text="Отсортировать по слушателям" data-sort-by="last_month_listeners" data-sort-order="ASC">
                {% include 'icons/sorting.svg' %}
              </button>
            </div>

            <input id="min_listeners" class="input info-hint-button" data-text="Минимальное количество слушателей" type="number" placeholder="от">
            <input id="max_listeners" class="input info-hint-button" data-text="Максимальное количество слушателей" type="number" placeholder="до">
          </div>

          <div class="container likes-cell likes-cell-title number-cell cell-title">
            <div class="container table-title-container">
              <span>Лайки</span>
              <button class="button ghost-button sorting-button info-hint-button" data-text="Отсортировать по лайкам" data-sort-by="likes_count" data-sort-order="ASC">
                {% include 'icons/sorting.svg' %}
              </button>
            </div>

            <input id="min_likes" class="input info-hint-button" data-text="Минимальное количество лайков" type="number" placeholder="от">
            <input id="max_likes" class="input info-hint-button" data-text="Максимальное количество лайков" type="number" placeholder="до">
          </div>

          <div class="container tracks-cell tracks-cell-title number-cell cell-title">
            <div class="container table-title-container">
              <span>Треки</span>
              <button class="button ghost-button sorting-button info-hint-button" data-text="Отсортировать по трекам" data-sort-by="tracks_count" data-sort-order="ASC">
                {% include 'icons/sorting.svg' %}
              </button>
            </div>

            <input id="min_tracks" class="input info-hint-button" data-text="Минимальное количество треков" type="number" placeholder="от" value="1">
            <input id="max_tracks" class="input info-hint-button" data-text="Максимальное количество треков" type="number" placeholder="до">
          </div>

          <div class="container ratings-month-cell ratings-month-cell-title number-cell cell-title">
            <div class="container table-title-container">
              <span>Рейтинг</span>
              <button class="button ghost-button sorting-button info-hint-button" data-text="Отсортировать по рейтингу" data-sort-by="ratings_month" data-sort-order="ASC">
                {% include 'icons/sorting.svg' %}
              </button>
            </div>

            <input id="min_ratings_month" class="input info-hint-button" data-text="Минимальный рейтинг" type="number" placeholder="от">
            <input id="max_ratings_month" class="input info-hint-button" data-text="Максимальный рейтинг" type="number" placeholder="до">
          </div>

          <div class="container genres-cell genres-cell-title tag-cell cell-title">
            <div class="container table-title-container">
              <div class="container tag-container">
                <span>Жанры</span>
                <div class="container tag-container" id="genres-tag-container"></div>
                <button class="button ghost-button tags-button info-hint-button" data-text="Изменить жанры сортировки" data-type="genres">
                  {% include 'icons/plus_square.svg' %}
                </button>
              </div>
            </div>
          </div>

          <div class="container countries-cell countries-cell-title tag-cell cell-title">
            <div class="container table-title-container">
              <div class="container tag-container">
                <span>Страны</span>
                <div class="container tag-container" id="countries-tag-container"></div>
                <button class="button ghost-button tags-button info-hint-button" data-text="Изменить страны сортировки" data-type="countries">
                  {% include 'icons/plus_square.svg' %}
                </button>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div>
        <div class="container" id="table-body">       
        </div>
        <div id="load-trigger"></div>
      </div>
    </main>

    <div id="splash-screen">
      <video id="splash-video" autoplay muted playsinline>
        <source src="{{ url_for('static', filename='assets/splash.webm') }}" type="video/webm" />
      </video>
    </div>

    <template id="default-artist-cover-template">
      {% include 'icons/note.svg' %}
    </template>

    <template id="empty-template">
      <div class="container message" id="empty-message">
        <h3>Ничего не нашлось</h3>
        <span>Попробуйте поискать с другими параметрами</span>
      </div>
    </template>

    <template id="tags-overlay-template">
      <div class="overlay">
      </div>
    </template>

    <template id="info-hint-template">
      <div class="overlay info-hint"></div>
    </template>

    <template id="tag-container-template">
      <div class="tag-container container"></div>
    </template>

    <template id="tag-template">
      <div class="tag"></div>
    </template>

    <template id="row-template">
      <div class="table-row">
        <span class="row-number updated-label"></span>

        <a class="container name-cell info-hint-button" data-text="Ссылка на Яндекс Музыку" target="_blank">
          <div class="artist-cover updated-label"></div>
          <span class="artist-name updated-label"></span>
        </a>

        <div class="table-values">
          <div class="container listeners-cell info-hint-button number-cell" data-text="Количество слушателей за месяц">
            {% include 'icons/users.svg' %}
            <span class="listeners-label number-label updated-label"></span>
            <span class="listeners-delta"></span>
          </div>
          
          <div class="table-secondary-values">
            <div class="container likes-cell info-hint-button number-cell" data-text="Количество лайков">
              {% include 'icons/like.svg' %}
              <span class="likes-label number-label updated-label"></span>
            </div>
            
            <div class="container tracks-cell info-hint-button number-cell" data-text="Количество треков">
              {% include 'icons/vinyl.svg' %}
              <span class="tracks-label number-label updated-label"></span>
            </div>

            <div class="container ratings-month-cell number-cell info-hint-button" data-text="Рейтинг за месяц">
              {% include 'icons/crown.svg' %}
              <span class="ratings-label number-label updated-label"></span>
            </div>
          </div>

          <div class="table-tags tag-container container">
            <div class="genres-cell tag-cell updated-label"></div>
            <div class="countries-cell tag-cell updated-label"></div>
          </div>
        </div>
      </div>
    </template>

    <script type="module"
      src="{{ url_for('static', filename='scripts/loading.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/button.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/input.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/info.js') }}">
    </script>

    <script type="module"
      src="{{ url_for('static', filename='scripts/select_tags.js') }}">
    </script>
  </body>
</html>